<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.InsightPrep.domain.question.mapper.AnswerMapper">

    <insert id="insertAnswer" parameterType="answer">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT currval(pg_get_serial_sequence('answer', 'id'))
        </selectKey>
        INSERT INTO answer (created_at, updated_at, member_id, question_id, content)
        VALUES (NOW(), NOW(), #{member.id}, #{question.id}, #{content})
    </insert>

</mapper>