<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.InsightPrep.domain.question.mapper.QuestionMapper">

    <insert id="insertQuestion" parameterType="question">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT currval(pg_get_serial_sequence('question', 'id'))
        </selectKey>
        INSERT INTO question (created_at, updated_at, category, content, status)
        VALUES (NOW(), NOW(), #{category}, #{content}, #{status})
    </insert>

    <select id="findById" resultType="question">
        SELECT * FROM question WHERE id = #{id}
    </select>

    <update id="updateStatus" parameterType="map">
        UPDATE question
        SET status = #{status}, updated_at = NOW()
        WHERE id = #{questionId}
    </update>

    <delete id="deleteUnansweredQuestions" parameterType="string">
        DELETE FROM question
        WHERE status = #{status}
          AND created_at &lt; Now() - INTERVAL '1 HOUR'
    </delete>

</mapper>